/* App.css */

/* Styles for app-container */
.app-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Styles for sub-container */
.sub-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

/* Styles for buttons */
.btns {
    display: flex;
    justify-content: space-between;
    margin-right:6vw;
    margin-left:2vw;
    
}

.btn {
    flex: 1;
    margin-right: 10px;
}

.btn:last-child {
    white-space: nowrap;
    margin-right: 0;
}

/* Styles for submit and edit buttons */
.submit-button {
    margin-bottom: 10px;
    margin-left: 33%;
    width: 30%;
}

.edit-button {
    margin-left: 33%;
}

/* Styles for resume container */
.resume-container {
    width:100%;
}
